.message {
  max-width: 80%;
  padding: 14px 20px;
  border-radius: 20px;
}

.user-message {
  background: rgb(124 58 237);
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.ai-message {
  background: rgb(39 39 42);
  margin-right: auto;
  border-bottom-left-radius: 4px;
}